
.fade-enter {
  opacity: 0;
  filter: brightness(0.5);
}

.fade-enter-active {
  opacity: 1;
  filter: brightness(1);
  transition: all 2000ms ease-in-out;
}

.fade-enter-done {
  opacity: 1;
  filter: brightness(1);
}

.fade-exit {
  opacity: 1;
  filter: brightness(1);
}

.fade-exit-active {
  opacity: 0;
  filter: brightness(0.5);
  transition: all 2000ms ease-in-out;
}

.fade-exit-done {
    opacity: 0;
    filter: brightness(0.5);
}

img {
  position: absolute;
  overflow: hidden;
}
